<br>
<br>
<br>
<h2>配送先登録/一覧</h2>
<%= form_with model: @address, url: addresses_path(@address.id), class: "form", local: true do |f| %>
<%= render 'layouts/error_messages', model: @address %>
  <div class="address-field">
    <div>郵便番号(ハイフンなし)</div>
      <dd><%= f.text_field :postcode %></dd><br>
    <div>住所</div>
      <dd><%= f.text_field :address %></dd><br>
    <div>宛名</div>
      <dd><%= f.text_field :name %></dd>
      <dd><%= f.submit '登録する', class: "btn btn-success", style: "margin:20px 0 0 100px;" %></dd>
  </div>
  <% end %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @customer.postcode %></td>
        <td><%= @customer.address %></td>
        <td><%= @customer.last_name %><<%= @customer.first_name %></td>
        <td>
          <%= link_to "編集する", edit_address_path(id: current_customer.id) %>
          <%= link_to "削除する", address_path(id: current_customer.id), method: :delete %>
        </td>
      </tr>
      <% @customer.addresses.each do |address| %>
      <tr>
        <td><%= address.postcode %></td>
        <td><%= address.address %></td>
        <td><%= address.name %></td>
        <td>
          <%= link_to "編集する", edit_address_path(address) %>
          <%= link_to "削除する", address_path(address), method: :delete %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

