<h2>配送先登録/一覧</h2>
  <%= form_with model: @address, url: addresses_path(@address.id), local: true do |f| %>

    <p>郵便番号(ハイフンなし)</p>
      <%= f.text_field :postcode %>

    <p>住所</p>
      <%= f.text_field :address %>

    <p>宛名</p>
      <%= f.text_field :name %>
      <%= f.submit '登録する' %>

  <% end %>

<table class = "table">
  <thead>
    <tr>
      <td>郵便番号</td>
      <td>住所</td>
      <td>宛名</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
      <tr>
      <td><%= @customer.postcode %></td>
      <td><%= @customer.address %></td>
      <td><%= @customer.last_name %><<%= @customer.first_name %></td>
      <td>
          <%= link_to "編集する", edit_address_path(id: current_customer.id) %>
          <%= link_to "削除する", address_path(id: current_customer.id), method: :delete %>
      </td>
      </tr>
  <% @customer.addresses.each do |address| %>
    <tr>
      <td><%= address.postcode %></td>
      <td><%= address.address %></td>
      <td><%= address.name %></td>
      <td>
          <%= link_to "編集する", edit_address_path(address) %>
          <%= link_to "削除する", address_path(address), method: :delete %>
      </td>
    </tr>
     <% end %>

    <!--< @customer.orders.each do |order| %>-->
    <!--<tr>-->
    <!--  <td><= order.postcode %></td>-->
    <!--  <td><= order.address %></td>-->
    <!--  <td><= order.name %></td>-->
    <!--  <td>-->
    <!--      <= link_to "編集する", edit_address_path(id: order.id) %>-->
    <!--      <= link_to "削除する", address_path(id: order.id), method: :delete %>-->
    <!--  </td>-->
    <!--  </tr>-->
    <!--< end %>-->

  </tbody>
</table>

