<h2>注文情報確認</h2>

<p>支払方法</p>
    <%= @order.pay_way %>

<p>お届け先</p>
    <%= @order.postcode %><%= @order.address %>
    <%= @order.name %>

<div class = "actions" >
    <%= link_to "購入を確定する", publics_orders_complete_path, class: "btn btn-success" %>
</div>