<br>
<br>
<br>
<h2>注文情報確認</h2>
<div class="row">
  <div class="col-lg-9">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th style="width:40%;">商品名</th>
          <th>単価(税込)</th>
          <th style="width:18%;">数量</th>
          <th>小計</th>
          <th style="width:10%;"></th>
        </tr>
      </thead>
      <tbody>
        <% @carts.each do |cart| %>
        <tr>
          <td>
            <%= cart.item.name %>
          </td>
          <td>
            <%= (cart.item.price.* 1.1).round.to_s(:delimited) %>
          </td>
          <td>
            <%= form_with model: cart, url: cart_path(cart), method: :patch, local: true do |f| %>
            <%= f.text_field :amount, auto_focus: true, size:"3" %>
            <%= f.submit "変更", class: "btn btn-primary" %>
            <% end %>
          </td>
          <td><%= (cart.item.price.* 1.1.* cart.amount).round.to_s(:delimited) %></td>
          <td><%= link_to "削除する", cart_path(cart), method: :delete, class: "btn btn-danger" %></td>
            <% sub_total = (cart.item.price.* 1.1.* cart.amount) %>
            <% @total += sub_total %>
        </tr>
        <% end %>
      </tbody>
    </table>
    <h4 style="font-size:20px; display: inline-block;">支払方法　　</h4>
      <%= @order.pay_way %>
    <br>
    <h4 style="font-size:20px; display: inline-block;">お届け先　　</h4>
      <%= @order.postcode %><%= @order.address %>
      <%= @order.name %>
  </div>
  <div class="col-lg-3">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th style="width:40%;">送料</th><td>800</td>
        </tr>
        <tr>
          <th>商品合計</th><td><%= @total.round.to_s(:delimited) %></th>
        </tr>
        <tr>
          <th>請求額</th><td><%= (@total.round + 800).to_s(:delimited) %></th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%= form_with model: @order, url: orders_path, local: true do |f| %>
  <%= f.hidden_field :postcode, value: @order.postcode %>
  <%= f.hidden_field :address, value: @order.address %>
  <%= f.hidden_field :name, value: @order.name %>
  <%= f.hidden_field :created_at, value: @order.created_at %>
  <%= f.hidden_field :status, value: @order.status %>
  <%= f.hidden_field :customer_id, value: current_customer.id %>
  <div class="order-success">
  <%= f.submit "購入を確定する", class: "btn btn-success btn-lg" %>
  </div>
<% end %>

