<br>
<br>
<br>
<h2>注文情報入力</h2>
  <%= form_with model: @order, url: orders_confirm_path, class: 'edit_admins_customer', local: true do |f| %>
    <div class="field">
      <h4 style="font-size:20px;">支払方法</h4>
    </div>
    <div class="field-tag">
    <div><%= f.radio_button :pay_way, "クレジット" %>　クレジット</div>
    <div><%= f.radio_button :pay_way, "銀行振込" %>　銀行振込</div>
    </div>

  <div class="field">
    <h4 style="font-size:20px;">お届け先</h4>
  </div>
    <div class="field-tag">
      <div><%= f.radio_button :order, 0  %>ご自身の住所<br>
        <%= @customer.postcode %><%= @customer.address %>
        <%= @customer.last_name %><%= @customer.first_name %>
      </div>

      <div><%= f.radio_button :order, 1 %>登録済住所から選択</div>
           <%= f.collection_select :id, @addresses, :id, :shipping_info %>
  
      <div><%= f.radio_button :order, 2 %>新しいお届け先</div>
  
      
      <div>郵便番号(ハイフンなし)
        <%= f.text_field :postcode, autofocus: true, autocomplete: "postcode" %>
      </div>
      <br>
    
      <div>住所　　　　　　　　　
        <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
      </div>
      <br>
    
      <div>宛名　　　　　　　　　
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="actions" style="text-align:center">
        <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
      </div>
    </div>
  </div>

<% end %>