<div class="row">
<div class="col-xs-2">
    <!--ジャンル検索部分テンプレート-->
  </div>
  <div class="col-xs-5">
    <%= attachment_image_tag @item, :image, size: "250x250", format: 'jpeg', fallback: "no-image.png" %>
  </div>
  <div>
  </div>
  <div class="col-xs-7">
    <h2><%= @item.name %></h2>
    <p><%= @item.explanation %></p>
    <h3>¥<%= (@item.price.* 1.1).round.to_s(:delimited) %><span>(税込)</span></h3>
  </div>
  <div class="col-xs-2">
    <%= form_with model: @carts, url: carts_path(@cart), local: true do |f| %>
    <%= f.number_field :amount, min: 0, max: 10 %>個
    <%= f.submit "カートに入れる", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>