<div class="row">
<div class="col-xs-2">
    <%= render "genre", genres: @genres %>
</div>

<div class="col-xs-7" style="margin-top: 80px;">
  <div class="row">
   <div class="col-xs-4">
       <div>
          <%= attachment_image_tag @item, :image, size: "300x300", format: 'jpeg', fallback: "no-image.png" %>
       </div>
    </div>

  <div class="col-xs-4"  style="margin-left: 150px;">
  <div>
    <h2><%= @item.name %></h2>
    <p><%= @item.explanation %></p>
    <h3>¥<%= (@item.price.* 1.1).round.to_s(:delimited) %><span>(税込)</span></h3>
  </div>

    <% if @item.is_status == '販売中' %>
      <% if @item.genre.is_status == '有効' %>
        <%= form_with model: @cart, url: carts_path, local: true do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
          <%= f.number_field :amount, min: 1, max: 10, placeholder: "個数選択" %>個
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.submit "カートに入れる", class: "btn btn-primary" %>
        <% end %>
      <% else %>
        <h2>売切れ</h2>
      <% end %>
    <% elsif @item.is_status == '販売中止' %>
      <h2>売切れ</h2>
    <% end %>

      </div>
    </div>

  </div>
</div>