<h2 style="margin: 30px 0 50px 100px ;"><%= @customer.last_name %><%= @customer.first_name%>さんの会員情報編集</h2>
<%= form_with model: @customer, url: admins_customer_path(@customer), class: 'form', local: true do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
　<div class="edit-admins-customer">
　    
    <dt><%= f.label :"会員ＩＤ" %></dt>
    <dd style="display:inline-block"><%= @customer.id %></dd>
  
    <dt><%= f.label :"氏名" %></dt>
    <dd><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>  <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %></dd>
  
    <dt><%= f.label :"フリガナ" %></dt>
    <dd><%= f.text_field :last_name_kana, autofocus: true, autocomplete: "first_name" %>  <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "last_name_kana" %></dd>
  
    <dt><%= f.label :"郵便番号" %></dt>
    <dd><%= f.text_field :postcode, autofocus: true, autocomplete: "postcode" %></dd>
  
    <dt><%= f.label :"住所" %></dt>
    <dd><%= f.text_field :address, autofocus: true, autocomplete: "address" %></dd>
  
    <dt><%= f.label :"電話番号" %></dt>
    <dd><%= f.text_field :phonenumber, autofocus: true, autocomplete: "address" %></dd>
  
    <dt><%= f.label :"メールアドレス" %></dt>
    <dd><%= f.email_field :email, autofocus: true, autocomplete: "email" %></dd>
  
    <dt><%= f.label :"会員ステータス" %></dt>
    <dd><%= f.radio_button :is_deleted, "有効" %>  有効  <%= f.radio_button :is_deleted, "退会済み" %>  退会済み</dd>
  
    <dd><%= f.submit "変更を保存する", class: "btn btn-primary" %></dd>
  </div>
<% end %>

