<h2 style="margin:30px 0 50px 100px;"><%= @customer.last_name %><%= @customer.first_name%>さんの会員詳細</h2>
    <table class="table" style="width:40%;">
            <tbody>
            <tr>
                <th>顧客ID</th>
                <td>
                    <label for="name"><%= @customer.id %>　<span class="label label-info"><%= @customer.is_deleted %></span></label>
                </td>
            </tr>
            <tr>
                <th>氏名</th>
                <td><%= @customer.last_name %><%= @customer.first_name %></td>
            </tr>
            <tr>
                <th>フリガナ</th>
                <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
            </tr>
            <tr>
                <th>郵便番号</th>
                <td><%= @customer.postcode %></td>
            </tr>
            <tr>
                <th>住所</th>
                <td><%= @customer.address %></td>
            </tr>
            <tr>
                <th>電話番号</th>
                <td><%= @customer.phonenumber %></td>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td><%= @customer.email %></td>
            </tr>
        </tbody>
    </table>
    <%= link_to "編集する", edit_admins_customer_path, class: "btn btn-primary" %>
    <%= link_to "注文履歴一覧を見る", admins_orders_path(customer_id: @customer.id), class: "btn btn-primary" %>
