<br>
<br>
<br>
<div class="customer-session-new">
<h2>会員の方はこちらからログイン</h2>
<%= form_with model: @customer, url: customers_sign_in_path, local: true do |f| %>
<%= flash[:error] %>
  <div class="field-customer-session">
    <%= f.label :"メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div><br>

  <div class="field-customer-session">
    <%= f.label :"パスワード" %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  　<%= link_to "=> パスワードを忘れた方はこちら", new_password_path(resource_name) %><br />
　<% end %>

  <div class="actions">
    <%= f.submit "ログイン", class: "btn btn-primary" %>
  </div>
<% end %>

  <h2 style="font-size:20px;">登録がお済みでない方</h2>
  <div>
  <%= link_to "こちら", customers_sign_up_path, class: "btn btn-info" %>　から新規登録を行ってください。
  </div>
</div>


