<h2 style="margin: 30px 0 100px 100px ;">商品編集</h2>
  <div class="row">
    <%= form_with model: @item, url: admins_item_path(@item), local: true do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class="col-xs-4">
      <div class="item_image">
		    <%= attachment_image_tag @item, :image, class: "img", fallback: "no-image.png", size:"300x300" %>
				<%= f.attachment_field :image %>
			</div>
			<!-- 画像プレビュー -->
			<script>
			   $(function(){
			     //inputのidから情報を取得
		       	$('#item_image').on('change', function (e) {
		       	  // ココから既存の画像のurlの取得
		       		var reader = new FileReader();
		    		reader.onload = function (e) {
		    			$(".image").attr('src', e.target.result);
		    		}
		    		// ココまで
		    		reader.readAsDataURL(e.target.files[0]);
		    		// 取得したurlにアップロード画像のurlを取得
	          });
	        });
		    </script>
    </div>
    <div class="col-xs-3">
      <h4>商品名</h4>
        <%= f.text_field :name, class:"form-control" %>
      <h4>商品説明</h4>
        <%= f.text_area :explanation, class:"form-control" %>
      <h4>ジャンル</h4>
      <%= f.collection_select(:genre_id, Genre.all, :id, :name, {prompt: "選択してください"}) %>
      <h4>税抜価格</h4>
      <div class="item-price-container">
      <div><%= f.text_field :price, class:"form-control" %></div>
      <div class="item-price">円</div>
      </div>

      <h4>販売ステータス</h4>
      <%= f.select :is_status, [['販売中','販売中'],['販売中止', '販売中止']], {prompt: "選択してください"} %>
      <%= f.submit "変更を保存", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>