<div class="container">
  <div class="row">
      <% if @item.errors.any? %>
        <div id="erro_explanation" class="alert alert-danger">
          <ul>
            <%= @item.errors.full_messages.each do |message| %>
              <li><%= message%></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <h2 style="margin-top: 50px;">商品新規登録</h2>
      <%= form_with model: @item, url: admins_items_path, local: true do |f| %>
      <div class="col-xs-4">
        <div class="img_field">
          <%= attachment_image_tag(@item, :image_id, size: "250x250", format: 'jpeg', fallback: "no-image.png") %>
          <%= f.attachment_field :image %>
        </div>
      </div>
      <div class="col-xs-3">
        <h4>商品名</h4>
        <%= f.text_field :name, class:"form-control" %>

        <h4>商品説明</h4>
        <%= f.text_area :explanation, class:"form-control"  %>

        <h4>ジャンル</h4>
        <!--%= f.collection_select(:genre_id, @genres, :id, :name, {prompt: "選択してください"}) %-->

        <h4>税抜価格</h4>
        <%= f.text_field :price, class:"form-control" %>円

        <h4>販売ステータス</h4>
        <%= f.select :is_status,[['販売中', true],['販売中止', false]], {prompt: "選択してください"} %>
        
      	<%= f.submit "新規登録", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
